* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'bits';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
}

@keyframes teste {

    --0,
    100% {
        color: #0ff
    }

    12% {
        color: #0026ff;
        text-shadow: 0px 0px #0026ff
    }

    20% {
        color: #2b204e;
        text-shadow: none;
    }

    22% {
        color: #0026ff;
        text-shadow: 0px 0px #0026ff
    }

    35% {
        color: #2b204e;
        text-shadow: none;
    }
}

body {
    background-color: black;
}

.positBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 93%;
    margin: auto;
}

.arcadeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 8px solid #000d58;
    border-radius: 16px 16px 0px 0px;
    background-color: black;
    color: white;
    font-family: 'bits';
}

.letreiro {
    margin: 9px 0;
    border: #0026ffdb 8px solid;
    border-radius: 16px;
    color: #0026ff;
    box-shadow: inset 0 0 20px 0 #0026ff, 0 0 20px 0 #0026ff;
    width: 95%;
    padding: 20px 5px;
    text-align: center;
    letter-spacing: 7px;
}

.apaga {
    animation-duration: 8s;
    animation-name: teste;
    animation-iteration-count: infinite;
}

.tela {
    text-align: center;
    border: 1px solid blue;
    width: 90%;
    height: 68.6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
}

.texto {
    margin: 0 35px;
    font-size: 0.85em;
}

.controlImg {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin: auto;
}

.btn {
    padding: 15px;
    border: #0026ffdb 4px solid;
    background-color: black;
    border-radius: 16px;
    color: #ffffff;
    box-shadow: inset 0 0 10px 0 #0026ff, 0 0 10px 0 #0026ff;
    cursor: pointer;
}

.controL {
    width: 50%;
    height: 120px;
}

@media (max-width:1024px) {
    .texto {
        font-size: 0.9em;
        line-height: 22px;
    }
}

@media (max-width:768px) {
    .texto {
        font-size: 0.7em;
        line-height: 22px;
    }
}

@media (max-width:425px) {
    .texto {
        font-size: 0.5em;
        line-height: 15px;
    }
}